CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_ESP_SYSTEM_USE_FRAME_POINTER=y
CONFIG_ESP_TASK_WDT_PANIC=y
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK=y
CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_QUEUE_ABORT_WAIT=y
CONFIG_FREERTOS_CHECK_STACKOVERFLOW_CANARY=1
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=y
CONFIG_LWIP_MAX_SOCKETS=12
CONFIG_LWIP_TCP_MSL=10000
CONFIG_LWIP_TCP_SND_QUEUELEN=8
CONFIG_LWIP_TCP_SND_BUF=2048
CONFIG_LWIP_TCP_WND_SIZE=2048
CONFIG_LWIP_TCP_RECVMBOX_SIZE=6
CONFIG_LWIP_UDP_RECVMBOX_SIZE=6
CONFIG_LWIP_MEM_SIZE=10240



