[
  {"name": "example_enum", "component": "sensor", "device_class": "enum", "entity_category": "", "mode": "auto", "state_class": "measurement", "step": 0, "payload_on": 0, "payload_off": 0, "key_value_pairs": [{"key": 0, "value": "off"}, {"key": 1, "value": "on"}], "key_value_count": 2, "default_key": 0}
]
