name: PlatformIO CI

on:
  push:
    tags:
      - '*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Cache PlatformIO
      uses: actions/cache@v2
      with:
        path: ~/.platformio
        key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}
    - name: Set up Python
      uses: actions/setup-python@v2
    - name: Install PlatformIO
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade platformio
    - name: Prepare release dir
      run: mkdir release
    - name: Build v3.0
      run: pio run -e esp12e-v3.0 ; mv .pio/build/esp12e-v3.0/firmware.bin release/firmware-v3.0.bin
    - name: Build v4.0+
      run: pio run -e esp12e ; mv .pio/build/esp12e-v3.0/firmware.bin release/firmware.bin
    - name: Create release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "release/*"

