name: PlatformIO CI

on:
  push:
    branches:
      - master
    tags:
      - v[1-9]*
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Cache pip
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Cache PlatformIO
      uses: actions/cache@v3
      with:
        path: ~/.platformio
        key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}
    - name: Set up Python
      uses: actions/setup-python@v2
    - name: Install PlatformIO
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade platformio
    - name: Prepare release dir
      run: mkdir release
    - name: Build v5.x-internal
      run: pio run -e esp32-c3-internal ; cp .pio/build/esp32-c3-internal/firmware.bin release/firmware-HW_v5.x-internal-${GITHUB_SHA::6}.bin
    - name: Build v5.x
      run: pio run -e esp32-c3 ; cp .pio/build/esp32-c3/firmware.bin release/firmware-HW_v5.x-${GITHUB_SHA::6}.bin
    - name: Assemble v5.x fullflash
      run: ./fullflash.sh firmware-fullflash-HW_v5.x.bin ; mv firmware-fullflash-HW_v5.x.bin release/firmware-fullflash-HW_v5.x-${GITHUB_SHA::6}.bin
    - name: Assemble v5.x-internal fullflash
      run: ./fullflash-internal.sh firmware-fullflash-HW_v5.x-internal.bin ; mv firmware-fullflash-HW_v5.x-internal.bin release/firmware-fullflash-HW_v5.x-internal-${GITHUB_SHA::6}.bin
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        path: release

  release-master:
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v4.1.7
      with:
        path: release
    - name: Create or update master release
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: true
        removeArtifacts: true
        prerelease: true
        tag: master
        name: master
        artifacts: "release/artifact/*"

  release:
    if: startsWith(github.ref, 'refs/tags/')
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v4.1.7
      with:
        path: release
    - name: Create release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "release/artifact/*"
